// Place all the styles related to the orders_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.red {
  color: red;
}

.year-link {
  margin: 20px;
}

a[href]:after {
  display: none;
}

.search_tag {
  padding: 5px 10px;
  margin: 0 20px 0 0;
  width: 225px;
}

h2 span {
  margin-left: 10px;
  color: red;
}

tbody.clickable tr {
  cursor: pointer;

  &.clicked {
    background-color: #D3FFFF;
  }
}

.purchasers_list {
  margin-top: 5px;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #cccccc;
  position: absolute;
  width: 403px;
  z-index: 1;
  display: none;

  li.purchaser_name {
    list-style: none;
    padding: 5px 10px;
    color: black;

    &:hover {
      background-color: #bfbfbf;
      color: white;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

textarea.form-control {
  resize: vertical;
  min-height: 34px;
}

.btn-sm {
  width: 100%;
  padding: 1px 10px;
  margin: 2px 0;
}

.actions {
  padding: 2px 8px !important;
}

a:visited {
  color: #333333 !important;
}

.alert {
  position: absolute;
  width: 400px;
  right: 450px;
  margin-top: 10px;
}