// Place all the styles related to the orders_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.red {
  color: red;
}

.year-link {
  margin: 20px;
}

a[href]:after {
  display: none;
}

.search_tag {
  padding: 5px 10px;
  margin: 0 20px 0 0;
  width: 225px;
}

h2 span {
  margin-left: 10px;
  color: red;
}

tbody.clickable tr {
  cursor: pointer;

  &.clicked {
    background-color: #D3FFFF;
  }
}
