// Place all the styles related to the orders_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.red {
  color: red;
}

.year-link {
  margin: 20px;
}

a[href]:after {
  display: none;
}

h2 span {
  margin-left: 10px;
  color: red;
}

tbody.clickable tr {
  cursor: pointer;

  &.clicked {
    background-color: #D3FFFF;
  }
}

.purchasers_list {
  margin-top: 5px;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #cccccc;
  position: absolute;
  width: 276px;
  z-index: 1;
  display: none;

  li.purchaser_name {
    list-style: none;
    padding: 5px 10px;
    color: black;

    &:hover {
      background-color: #bfbfbf;
      color: white;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

textarea.form-control {
  resize: vertical;
  min-height: 34px;
}

.btn-sm {
  width: 100%;
  padding: 1px 10px;
  margin: 2px 0;
}

.actions {
  padding: 2px 8px !important;
}

.alert {
  position: absolute;
  width: 400px;
  right: calc(50% - 200px);
  margin-top: 10px;
}

.sorting-btn {
  width: 16px;
  height: 16px;

  &:hover {
    background-color: transparent;
    color: black;
  }

  &:visited {
    color: black;
  }
}

.well {
  height: 76px;
  margin-bottom: 30px;

  .form-group {
    padding: 0;
  }

  .form-control {
    float: left;
    margin-right: 20px;
  }

  .f_number {
    width: 125px;
  }

  .f_description {
    width: 400px;
  }

  .f_user_id {
    width: 150px;
  }

  .f_purchaser_id {
    width: 150px;
  }

  .f_created_at_from {
    width: 150px;
  }

  .f_created_at_to {
    width: 150px;
  }

  .f_invoice_number {
    width: 150px;
  }

  .f_serial_number {
    width: 150px;
  }
}

.main-content {
  margin-top: 60px;
}


.navbar-default {
  background-color: #86bda8;
  border-bottom: 2px solid #6a9686;
  padding: 0 15px;

  .navbar-nav > li > a {
    color: white;
    font-weight: 600;
    font-size: 15px;
  }

  .navbar-brand {
    color: white;
    font-weight: 600;
    font-size: 20px;

    &:hover {
      color: #333333;
    }
  }
}

.nav.navbar-nav {
  color: white;
  font-weight: 600;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #6a9686;
}
