body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

h3 {
  margin-bottom: 40px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
}

table.table.table-hover {
  td:nth-child(2) {
    max-width: 350px;
  }
}

footer {
  margin-top: 150px;
}

#resource_image {
  margin: 10px 0 22px 0;
}

#error_explanation {
  width: 570px;
  margin-bottom: 20px;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 0px;
    font-size: 13px;
    margin-bottom: 0px;
  }
  ul {
    padding: 0;
    li {
      color: #730E15;
      font-size: 15px;
      list-style: none;
      padding: 7px 15px;
      margin: 5px 0;
      background-color: coral;
      border: 2px solid red;
    }
  }
}

.table-hover {
  td:nth-child(1) {
    width: 90px;
  }
  td:nth-child(2) {
    min-width: 200px;
  }
  td:nth-child(4) {
    width: 100px;
  }
  td:nth-child(5) {
    width: 115px;
  }
  td:nth-child(6) {
    width: 115px;
  }
  td:nth-child(9) {
    width: 85px;
  }
  td:nth-child(10) {
    width: 85px;
  }
  td:nth-child(11) {
    width: 85px;
  }
}

.container {
  width: 1300px;
}
