<!DOCTYPE html>
<html>
  <head>
    <title>WS-TECH MED Management</title>
    <style>

      body {
        font-size: 16px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }

      .table {
        border: 1px solid black;
        padding: 5px;
        width: 100%;
        border-collapse: collapse;
      }

      tr {
        height: 40px;
        border: 1px solid black;
      }

      td, th {
        padding: 4px 10px;
        border: 1px solid black;
      }

      a {
        color: black;
      }

      .lp {
        width: 10px;
      }

      .product {
        width: 100px;
      }

      .model {
        width: 100px;
      }

      .options {
        width: 100px;
      }

      .color {
        width: 70px;
      }

      .quantity {
        width: 65px;
      }

      .suspended {
        color: red;
      }

    </style>
  </head>

  <body>

    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="content">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
